<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hft.wiinf.de.horario">

    <!-- All Permissions needed to use all functions of this app -->
    <uses-permission
        android:name="android.permission.READ_SMS"
        android:protectionLevel="normal" />
    <uses-permission
        android:name="android.permission.READ_CONTACTS"
        android:protectionLevel="normal" />
    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        android:protectionLevel="normal" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <!-- Overall application details like the theme or the name -->
    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="hft.wiinf.de.horario.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- define the start activity here - TabActivity is our mainActivity which will load
        all Activities (Tabs) and in these activities the fragments -->
        <activity
            android:name=".TabActivity"
            android:label="Horario"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Define the activity for the qrScanner -->
        <activity
            android:name=".CaptureActivityPortrait"
            android:screenOrientation="sensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- Some DB stuff - DB-Name, Version and the models (Tables) -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="horario.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="18" />
        <meta-data
            android:name="AA_MODELS"
            android:value="hft.wiinf.de.horario.model.Event, hft.wiinf.de.horario.model.Person, hft.wiinf.de.horario.model.FailedSMS, hft.wiinf.de.horario.model.Invitation" />

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="${applicationId}"
            android:enabled="true"
            android:exported="false">
        </provider>

        <!-- Receiver which is needed to get the Alarm and do sth with it (here: display Notification) -->
        <receiver android:name=".service.NotificationReceiver">
        </receiver>

        <!-- Receiver will listen for a DeviceBoot and then do sth.-->
        <receiver
            android:name=".service.DeviceBootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- Receiver will listen for incoming sms-->
        <receiver
            android:name=".service.SmsReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- Receiver will send sms and to everything which needs to happen like schedule job for FailedSMS-->
        <receiver android:name=".controller.SendSmsController"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <!-- Service will send FailedSMS if the device has all needed functions like sim-card-->
        <service
            android:name=".service.FailedSMSService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>
    </application>
</manifest>