<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hft.wiinf.de.horario">

    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.activeandroid.app.Application">
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".TabActivity"
            android:label="@string/title_activity_tab"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".CaptureActivityPortrait"
            android:screenOrientation="sensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <meta-data
            android:name="AA_DB_NAME"
            android:value="horario.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="13" />
        <meta-data
            android:name="AA_MODELS"
            android:value="hft.wiinf.de.horario.model.Event, hft.wiinf.de.horario.model.Person" />
    </application>

</manifest>